body {
    text-align: center;
    background-color: rgb(6, 181, 239);
}
h1 {
    background-color: rgb(43, 212, 212);
}
p{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #110468;
}