body {
    text-align: center;
    background-color: rgb(185, 230, 244);
}
h1 {
    background-color: rgb(43, 212, 212);
}
p{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #6b5dcb;
}
img {
    width: 300px;
}
.paragrafo { 
    font-size: 30px;
}
.paragrafos
background-color::before (17, 17, 16);
    border: 2px solid black;

.lista{
text-align: left;
font-size: 25 px;
background-color: rgb(rgb(162, 133, 133), rgb(103, 207, 103), rgb(21, 21, 138));
    }