body {
    text-align: center;
    background-color: rgb(185, 230, 244);
}
h1 {
    background-color: rgb(43, 212, 212);
}
p{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #6b5dcb;
}
img {
    width: 300px;
}
.paragrafo { 
    font-size: 30px;
}